.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #066235;
}

.decision-prompt {
  position: fixed; /* Fija el prompt en la pantalla */
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
  background-color: white; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  padding: 20px; /* Espaciado interno */
  z-index: 2000; /* Asegúrate de que esté sobre otros elementos */
  text-align: center; /* Centra el contenido del texto */
  font-family: 'Now-Medium', sans-serif;
  color: black; /* Cambia el color del texto a negro */
}



.decision-prompt button {
  margin: 10px; /* Espaciado entre botones */
  padding: 10px 20px; /* Tamaño del botón */
  font-size: 16px; /* Tamaño del texto */
  border-radius: 5px; /* Bordes redondeados */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  background-color: #066235; /* Color del botón */
  color: white; /* Color del texto */
  font-family: 'Now-Medium', sans-serif;
}

.decision-prompt button:hover {
  background-color: #044722; /* Cambia el color al pasar el mouse */
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.005rem 1.0rem;
  background-color: black;
  color: white;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: 'Now-Medium', sans-serif;
  font-size: 25px;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Espacio entre los botones */
  margin-top: 30px;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.ficha {
  transition: transform 0.2s;
}

.ficha:hover {
  transform: scale(1.2);
}

.header-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-logo .logo-header {
  height: 80px;
}

.main-container {
  display: flex;
  flex: 1;
  width: 100%;
  padding-top: 100px; /* Ajusta para el header */
}

.left-column {
  flex: 3; /* 30% del ancho */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.right-column {
  flex: 7; /* 70% del ancho */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-slots {
  display: flex;
  flex-direction: row; /* Cambiado de column a row */
  gap: 10px;
  margin-top: 50px;
}

.card-slot {
  width: 4vw;
  height: 12vh;
  border: 3px solid yellow;
  border-radius: 10%;
}

.fichas {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 45%;
  flex-wrap: wrap;
}

.ficha {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.boton-robar, .boton-apostar,.boton-doblar,.boton-quedarse {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  height: 3em; 
  border-radius: 50px;
  cursor: pointer;
border: none;
font-family: 'Now-Medium', sans-serif;
font-size: 15px;

font-weight: 700;
  
}

.sign-out-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-out-icon {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: 50px;
}




.player-slot {
  position: absolute;
  width: 8vw; /* Ajusta el tamaño del contenedor */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-info {
  color: #000;
  font-size: 0.8rem;
  font-family: 'Now-Medium', sans-serif;
  text-align: center;
  margin-bottom: 0.5rem;
}

.player-chips {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 0.5rem;
}

.player-chip {
  width: 10px;
  height: 10px;
}

.player-cards {
  display: flex;
  flex-direction: row; /* Alinea las cartas en horizontal */
  gap: -1vw; /* Ajusta el solapado entre cartas */
}

.player-card {
  width: 3vw; /* Tamaño de la carta */
  height: auto;
  margin-left: -1.5vw; 
}

.mesa {
  width: 85%;
  height: auto;
}

.mesa-card-slot {
  position: absolute;
  width: 4vw; /* Tamaño de la carta */
  height: 6vw; /* Ajusta el tamaño según tu imagen */

}

.mesa-text {
  font-family: Georgia, serif;
  font-size: 1.5rem; /* Reduce el tamaño de la fuente */
  color: white;
  left: 41%;
  margin: 0.5rem 0; /* Reduce el margen superior e inferior */
  padding: 0.2rem 0.5rem; /* Reduce el padding alrededor */
  position: absolute;
  top: 1%; /* Ajusta para que esté más cerca de la mesa */
  width: 100%;
}

.mesa-container {
  position: relative;
  width: 100%; /* Ajusta el ancho según sea necesario */
  max-width: 1400px; /* Tamaño máximo para escalabilidad */
  margin: auto;
}

.luigi-gif {
  position: absolute;
  top: -50px; /* Ajusta este valor para que el GIF quede sobre la mesa */
  left: 44%;
  transform: translateX(-50%); /* Centra el GIF horizontalmente */
  width: 137px; /* Ajusta el tamaño según prefieras */
  height: auto; /* Mantiene la proporción del GIF */
}

.player-1 {
  top: 38%;
  left: 15%;
}



.player-2 {
  top: 53%;
  left: 25%;
}


.player-3  {
  top: 70%;
  left: 40%;
}


.player-4 {
  top: 53%;
  left: 55%;
}

.player-5 {
  top: 38%;
  left: 65%;
}


.player-6 {
  top: 25%;
  left: 40%;
}

