.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #066235;
}

.decision-prompt {
  position: fixed; /* Fija el prompt en la pantalla */
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
  background-color: white; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  padding: 20px; /* Espaciado interno */
  z-index: 2000; /* Asegúrate de que esté sobre otros elementos */
  text-align: center; /* Centra el contenido del texto */
  font-family: 'Now-Medium', sans-serif;
  color: black; /* Cambia el color del texto a negro */
}



.decision-prompt button {
  margin: 10px; /* Espaciado entre botones */
  padding: 10px 20px; /* Tamaño del botón */
  font-size: 16px; /* Tamaño del texto */
  border-radius: 5px; /* Bordes redondeados */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  background-color: #066235; /* Color del botón */
  color: white; /* Color del texto */
  font-family: 'Now-Medium', sans-serif;
}

.decision-prompt button:hover {
  background-color: #044722; /* Cambia el color al pasar el mouse */
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.005rem 1.0rem;
  background-color: black;
  color: white;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: 'Now-Medium', sans-serif;
  font-size: 25px;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Espacio entre los botones */
  margin-top: 30px;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.ficha:hover {
  transform: scale(1.2);
}

.header-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-logo .logo-header {
  height: 80px;
}

.main-container {
  display: flex;
  flex: 1;
  width: 100%;
  padding-top: 100px; /* Ajusta para el header */
}

.left-column {
  position: relative;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.right-column {
  flex: 7; /* 70% del ancho */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-slots {
  display: flex;
  flex-direction: row; /* Cambiado de column a row */
  gap: 10px;
  margin-top: 50px;
}

.card-slot {
  width: 4vw;
  height: 12vh;
  border: 3px solid yellow;
  border-radius: 10%;
}

.fichas {
  position: absolute; /* Esto es correcto si quieres que las fichas estén en una posición fija */
  bottom: 20px; /* Ajusta la distancia del borde inferior */
  left: 20px; /* Mueve las fichas hacia la esquina inferior izquierda */
  display: flex;
  flex-direction: column; /* Asegura que las fichas se organicen en columna */
  align-items: center; /* Centra las fichas horizontalmente en su contenedor */
  gap: 10px; /* Espaciado entre las fichas */
  z-index: 10; /* Asegúrate de que estén visibles sobre otros elementos */
}




.ficha {
  width: 55px; /* Tamaño de la ficha */
  height: 55px;
  transition: transform 0.2s; /* Animación al pasar el mouse */
}

.boton-robar, .boton-apostar,.boton-doblar,.boton-quedarse {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 20px;
  width: 50%;
  height: 3em; 
  border-radius: 50px;
  cursor: pointer;
  border: none;
  font-family: 'Now-Medium', sans-serif;
  font-weight: bold;
  font-size: 0.8em;

  
}


.dialog-repartiendo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Now-Medium', sans-serif;
  font-size: 1.5rem;
  z-index: 2000;
  text-align: center;
}


.sign-out-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-out-icon {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: 50px;
}




.player-slot {
  position: absolute;
  width: 8vw; /* Ajusta el tamaño del contenedor */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-info1 {
  color: #ffffff; /* Cambiar el color del texto a blanco para mejor contraste */
  font-weight: bold;
  font-size: 0.8em;
  font-family: 'Now-Medium', sans-serif;
  text-align: center;
  margin-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con 70% de transparencia */
  padding: 5px 10px; /* Añade espacio interno para mejor legibilidad */
  border-radius: 5px; /* Bordes redondeados para un diseño más limpio */
  max-width: 150px; /* Limita el ancho máximo del contenedor */
  overflow: hidden; /* Asegura que el contenido adicional esté oculto */
  text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
.dealing-dialog {
  position: fixed;
  top: 57%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.player-chips {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 0.5rem;
}

.player-chip {
  width: 10px;
  height: 10px;
}

.player-cards {
  display: flex;
  flex-direction: row; /* Alinea las cartas en horizontal */
  gap: -1vw; /* Ajusta el solapado entre cartas */
}

.player-card {
  width: 3vw; /* Tamaño de la carta */
  height: auto;
  margin-left: -1.5vw; 
}

.mesa {
  width: 85%;
  height: auto;
}

.mesa-card-slot {
  position: absolute;
  width: 4vw; /* Tamaño de la carta */
  height: 6vw; /* Ajusta el tamaño según tu imagen */

}

.mesa-text {
  font-family: Georgia, serif;
  font-size: 1.5rem; /* Reduce el tamaño de la fuente */
  color: white;
  left: 41%;
  margin: 0.5rem 0; /* Reduce el margen superior e inferior */
  padding: 0.2rem 0.5rem; /* Reduce el padding alrededor */
  position: absolute;
  top: 1%; /* Ajusta para que esté más cerca de la mesa */
  width: 100%;
}

.ficha-container {
  display: flex;
  flex-direction: column; /* Organiza la ficha y su valor en columna */
  align-items: center; /* Centra el texto debajo de la ficha */
  cursor: pointer;
  margin: 0; /* Asegúrate de que no haya márgenes extra */
}


.ficha-valor {
  margin-top: 5px; /* Espaciado entre la ficha y su valor */
  color: white;
  font-size: 14px;
  font-family: 'Now-Medium', sans-serif;
  text-align: center;
}

.chat-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

.chat-container.closed {
  width: 50px;
  height: 50px;
}

.chat-container.open {
  width: 250px;
  height: 350px;
}

/* Botón para abrir el chat */
.chat-toggle-button {
  width: 100%;
  height: 100%;
  background-color: #066235;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.chat-toggle-button:hover {
  background-color: #044722;
}

/* Estilo del chat */
.chat-container.open .chat-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid #044722;
  border-radius: 8px;
  overflow: hidden;
  font-family: 'Now-Medium', sans-serif;
}

/* Cabecera del chat */
.chat-container.open .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #066235;
  color: white;
  font-family: 'Now-Medium', sans-serif;
  font-size: 1rem;
}

/* Botón de minimizar */
.chat-container.open .chat-minimize-button {
  background: #044722;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.chat-container.open .chat-minimize-button:hover {
  background-color: #022f19;
  color: #ffdd00; /* Resalta al pasar el cursor */
}

/* Mensajes del chat */
.chat-container.open .chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 8px;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #044722;
}

.chat-container.open .chat-message {
  margin-bottom: 5px;
}

.chat-container.open .chat-message strong {
  color: #00ff00;
}

.chat-container.open .chat-message span {
  color: #ffffff;
}

/* Entrada de texto */
.chat-container.open .chat-input {
  display: flex;
  padding: 5px;
  background: rgba(0, 0, 0, 0.95);
  border-top: 1px solid #044722;
}

.chat-container.open .chat-input input {
  flex: 1;
  padding: 5px;
  border: 1px solid #044722;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.chat-container.open .chat-input button {
  padding: 5px 10px;
  background-color: #066235;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
}


.mesa-container {
  position: relative;
  width: 100%; /* Ajusta el ancho según sea necesario */
  max-width: 1400px; /* Tamaño máximo para escalabilidad */
  margin: auto;
}

.luigi-gif {
  position: absolute;
  top: -50px; /* Ajusta este valor para que el GIF quede sobre la mesa */
  left: 44%;
  transform: translateX(-50%); /* Centra el GIF horizontalmente */
  width: 137px; /* Ajusta el tamaño según prefieras */
  height: auto; /* Mantiene la proporción del GIF */
}

.player-1 {
  top: 38%;
  left: 15%;
}



.player-2 {
  top: 53%;
  left: 25%;
}


.player-3  {
  top: 70%;
  left: 40%;
}


.player-4 {
  top: 53%;
  left: 55%;
}

.player-5 {
  top: 38%;
  left: 65%;
}


.player-6 {
  top: 25%;
  left: 40%;
}   
