

.history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo consistente con "select table" */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1); /* Bordes elegantes */
  margin-bottom: 20px; /* Separaci칩n entre elementos */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.history-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}


.text-tu-mano {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.1em;
}

.text-mano-ganador {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.1em;
}

.result-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result-header {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 8px;
}

.result-amount {
  font-size: 1em;
  color: var(--primary-color);
  font-weight: normal;
  margin-bottom: 12px;
}

.result-win {
  color: #4caf50; /* Verde m치s suave */
}

.result-loss {
  color: #f44336; /* Rojo m치s elegante */
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cards {
  display: flex;
  gap: 12px;
}

.cards img {
  width: 60px;
  height: auto;
  border-radius: 4px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para las im치genes */
}

.players-container {
  
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.players-container h3 {

  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.1em;
}

.players-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.players-list li {
  font-size: 1.15em;
  font-weight: bold;
  color: #c5a880;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.history-back-button {
  align-self: center;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 1em;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid #c5a880;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.history-back-button:hover {
  background-color: #c5a880;
  color: #000;
}

/* Responsividad */
@media (max-width: 768px) {
  .history-item {
      flex-direction: column;
  }

  .cards img {
      width: 40px;
  }

  .result-header,
  .result-amount {
      text-align: center;
  }

  .players-container {
      margin-top: 10px;
  }
}
