/* Contenedor principal que divide la pantalla en dos mitades */
.login-container {
    display: flex;
    height: 100vh;
}

/* Mitad izquierda: imagen de fondo */
.login-background {
    flex: 1;
    position: relative;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Mitad derecha: contenido de login */
.login-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000; /* Fondo negro para la mitad derecha */
    color: #fff; /* Texto blanco */
}

.login-box {
    text-align: center;
    width: 100%; /* Ocupa el 80% del ancho del contenedor */
    max-width: 400px; /* Opcional: Limitar el ancho máximo */
}

.casino-logo {
    width: 35%; /* La imagen del logo ocupa el 80% del ancho de .login-box */
    margin-bottom: 15%; /* Margen inferior en porcentaje */
}




/* Estilos específicos para el botón Sign in */
.signInButton {
    margin-bottom: 0%; /* Espaciado superior en porcentaje */
    width: 50%; /* Ocupa el 100% del contenedor .signInButton-container */
    height: 3em; /* Altura en unidades relativas para flexibilidad */
    color: #000000;
    background: #c5a880;
    border-radius: 100px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    font-family: 'Now-Medium', sans-serif;
    font-size: 19px;
}

/* Texto de registro */
.register-text {
    color: #c5a880;
    font-size: 0.9em;
    margin-top: 5%; /* Margen superior en porcentaje */
    font-family: 'Now-Medium', sans-serif;
}

.register-text a {
    color: #c5a880;
    text-decoration: underline;
}

